@font-face {
    font-family: CeraPro-Black;
    src: url(~@/assets/fonts/ceraPro/CeraPro-Black.ttf);
  }
  
  @font-face {
    font-family: CeraPro-Bold;
    src: url(~@/assets/fonts/ceraPro/CeraPro-Bold.ttf);
  }
  
  @font-face {
    font-family: CeraPro-Regular;
    src: url(~@/assets/fonts/ceraPro/CeraPro-Regular.ttf);
  }
  
  @font-face {
    font-family: CircularStd-Medium;
    src: url(~@/assets/fonts/circular/CircularStd-Medium.ttf);
  }
  
  @font-face {
    font-family: CircularStd-Regular;
    src: url(~@/assets/fonts/circular/CircularStd-Book.ttf);
  }
  
  @font-face {
    font-family: CircularStd-Bold;
    src: url(~@/assets/fonts/circular/CircularStd-Bold.ttf);
  }