@font-face {
  font-family: "Cera Pro";
  src: url(~@/assets/fonts/ceraPro/CeraPro-Black.ttf) format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Cera Pro";
  src: url(~@/assets/fonts/ceraPro/CeraPro-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url(~@/assets/fonts/circular/CircularStd-Book.ttf) format("truetype");
  font-weight: 450;
  font-style: normal;
}

@font-face {
  font-family: "Circular Std";
  src: url(~@/assets/fonts/circular/CircularStd-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

/* @link https://utopia.fyi/type/calculator?c=320,24,1.2,1440,64,1.25,5,8,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

/* @link https://utopia.fyi/type/calculator?c=375,24,1.2,1440,64,1.25,5,7,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

h1,
h2,
h3,
h4 {
  font-family: "Cera Pro", sans-serif;
  font-weight: 900;
  color: $primary-color-1;
}

h1 {
  font-size: var(--title-size-1);
}

h2 {
  font-size: var(--title-size-2);
}

h3 {
  font-size: var(--title-size-3);
}

h4 {
  font-size: var(--title-size-4);
}

p {
  font-size: $text-size-2;
  font-family: "Circular Std", sans-serif;
  font-weight: 450;
  color: $primary-color-1;
  line-height: 1.25rem;
}

p.lead {
  font-size: $text-size-5;
  line-height: 1.875rem;
}

p.small {
  font-size: $text-size-3;
}

p.captions {
  font-size: $text-size-4;
  text-transform: uppercase;
}
