.btn {
  min-width: 191px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  min-height: 48px;
  padding: 0.875em 2.5em;
  color: white;
  background-color: $secondary-color-1;
  font-size: $text-size-2;
  font-family: "Cera Pro", sans-serif;
  font-weight: 700;
}

.dark-mode {
  width: 46px;
  height: 46px;
  border: none;
  cursor: pointer;
  background: none;
}

// .btn-primary {
// }

.btn-secondary {
  padding: .5em 1.5em;
  background: $secondary-color-2;
  border-radius: 8px;
  font-size: 1rem;
  color: $primary-color-2;
  font-family: Circular Std, sans-serif;
  font-weight: 700;
 span {
   margin-right: .625em;
 }
}
