.header {
    .navbar-link {
        font-size: 1rem;
        font-family: "Circular Std", sans-serif;
        font-weight: 700;
        color: $primary-color-0;
        position: relative;
    }
    .navbar-link.active {
        &::after{
            display: block;
            position: absolute;
            content: "•";
            text-align: center;
            width: 100%;
            height: 100%;
            color: $secondary-color-1;
        }
    }
    .navbar-link.disabled {
        color: $primary-color-4;
    }
}
