.tabs {
  -webkit-overflow-scrolling: touch;
  align-items: stretch;
  display: flex;
  font-size: 1rem;
  justify-content: space-between;
  overflow: hidden;
  overflow-x: auto;
  white-space: nowrap;
  margin: 1.5rem 0;
  padding-bottom: 1rem;
  ul {
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    justify-content: flex-start;
    li {
      cursor: pointer;
    }
    a {
      align-items: center;

      color: $primary-color-4;
      display: flex;
      justify-content: center;
      margin-bottom: -1px;
      padding: 0.5em 0;
      margin-right: 1em;
      vertical-align: top;
      font-size: $text-size-2;
      font-family: "Cera Pro", sans-serif;
      font-weight: 700;
      border-bottom-color: $primary-color-5;
      border-bottom-style: solid;
      border-bottom-width: 1px;
      &.active {
        color: $secondary-color-1;
        border-bottom-color: $secondary-color-1;
        border-bottom-style: solid;
        border-bottom-width: 1px;
      }
    }
  }
}
