@import "./layout/_reset.scss";

@import "./helpers/_variables.scss";
@import "./helpers/_fonts.scss";
@import "./helpers/_mixins.scss";


@import "./components/_nav.scss";
@import "./components/_button.scss";
@import "./components/_tabs.scss";

@import "./layout/_dark-theme.scss";

.wrapper {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.dot {
  color: $secondary-color-1;
}